.container {
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;

}

/* img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
} */