.searchBar {
    background: #211e1e;
    padding: 2rem 0;
    border-radius: 5px;
}

.form {
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #999;
}

.bars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}

.SearchBarSortOptions ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    color: #be0f0f;
}

.SearchBarSortOptions li {
    cursor: pointer;
    width: 4.33rem;
    border-bottom: 1px solid #302b2b;
    padding: 0 2.58rem 0.33rem 2.58rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: 0.83rem;
    transition: color 0.25s;
    list-style: none;
}

.SearchBarSortOptions li:hover {
    color: #650c0c;
}

.SearchBarSortOptions li.active,
.SearchBarSortOptions li.active:hover {
    border-bottom: 1px solid #f0c36c;
    color: #f0c36c;
}

input {
    width: 30%;
    line-height: 1.5rem;
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 1rem;
    font-size: 1rem;
    padding: .5rem;
}

.btn {
    background: #3bc6f4;
    color: #333;
    border: 1px solid #b1aeae;
    box-shadow: 1px 1px 2px #ddd;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}